.DS_Store
.cache
.gradle
.nb-gradle
.classpath
.project
.settings
.site*
bin
build
out
targe
/nbprojects/private
/nbbuild/
build.xml
/nbproject

#Intellij#
.idea/
out/
*.iml
*.iws
*.ipr

#Gradle#
build/

#Grain#
/.sass-cache/
/targe/

#Github#
.travis